#wipayCheckoutButton {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 16px;
    height: 40px;
    border-color: #DDAD51;
    background-color: #DDAD51;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);
}
